body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
}

header h2 {
    font-size: 24px;
}

.about, .portfolio {
    padding: 50px 20px;
}

.about h3, .portfolio h3 {
    font-size: 24px;
}

.portfolio-item {
    margin-bottom: 20px;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
